extends ../components/base/layout

block variables
  - const title = "tradingCo"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const currentUrl = "index.html"

block main
  main
    +intro()
    +features()

block modals
