.intro {
  position: relative;
  overflow: hidden;

  .container {
    @include vp-1024 {
      padding: 0;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    @include vp-1024 {
      flex-direction: row;
    }
  }

  &__content-wrapper {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 648px;
    padding: 356px 0 80px;

    @include vp-768 {
      padding: 32px 0 568px;
    }

    @include vp-1024 {
      align-items: flex-start;
      padding: 160px 24px 264px 24px;
    }

    @include vp-1280 {
      padding: 160px 74px 264px 106px;
    }
  }

  &__title {
    position: relative;
    max-width: 308px;
    margin: 0 0 24px;

    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    text-align: center;

    @include vp-768 {
      margin: 0 0 40px;
    }

    @include vp-1024 {
      max-width: 496px;
      margin: 0 0 48px;

      font-size: 80px;
      line-height: 88px;
      text-align: start;
    }

    span {
      background-color: $color-default-white;
      background: linear-gradient(300.11deg, $color-peach 5.04%, $color-dark-orchid 76.02%);
      background-clip: text;
      -webkit-background-clip: text;

      text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
    }
  }

  &__image-wrapper {
    position: absolute;
    top: 8px;
    left: 50%;

    width: 388px;
    height: 388px;
    margin: 0 -194px;

    user-select: none;

    @include vp-768 {
      top: 280px;

      width: 640px;
      height: 640px;
      margin: 0 -320px;
    }

    @include vp-1024 {
      align-self: flex-end;

      position: relative;
      top: 0;
      right: 0;
      left: unset;

      width: 764px;
      height: 696px;
      margin: 0;
    }

    img {
      width: 388px;
      height: 388px;

      object-fit: contain;

      @include vp-768 {
        width: 640px;
        height: 640px;
      }

      @include vp-1024 {
        width: 764px;
        height: 696px;

        object-fit: cover;
        object-position: left;
      }
    }
  }
}
