.socials {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -10px 0 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    margin: 10px 12px 0;
  }

  &__link {
    display: block;
    width: 32px;
    height: 32px;

    transition: opacity $trans-default;

    svg {
      width: 32px;
      height: 32px;

      color: $color-grey;
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }
}
